// RESET
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  list-style-type: none;
}
// MIXINS
@mixin flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
// SLIDER
.slider {
  &__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 0;
  }

  &__start {
    text-align: center;
    max-width: 550px;
    margin: 0 auto;
  }

  &__title {
    font-weight: 600;
    font-size: 54px;
    color: #000000;
  }

  &__text {
    margin-top: 20px;
    line-height: 1.5em;
    font-weight: 400;
    font-size: 18px;
  }

  &__content {
    @include flex();
    margin-top: 60px;
    width: 100%;
    padding: 20px 70px;
    border-radius: 25px;
    background-color: rgb(0, 89, 255);
    position: relative;
  }

  &__btn {
    padding: 8px 30px;
    border: none;
    background-color: #ffffff;
    color: #000000;
    font-size: 18px;
    border-radius: 25px;
    cursor: pointer;
  }

  &__item-wrapper {
    width: 700px;
    height: 300px;
    position: relative;
    overflow: hidden;
  }
  &__item-line {
    position: absolute;
    transition: 0.6s;
  }

  &__item-content {
    @include flex();
  }

  &__item {
    width: 700px;
    height: 300px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 24px;
    color: #ffffff;
    background-color: #df4343;
    &:nth-child(2) {
      background-color: #00ff00;
    }
    &:nth-child(3) {
      background-color: #4400ff;
    }
  }
}
